*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
    padding-top: 20px;
    
}
.tab-button{
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    cursor: pointer;
}
.button-wrapper button.active{
    background-color: black;
    color: blanchedalmond;
}


.content-wrapper{
    padding: 100px;
    border:5px solid blue;
    background-color: rgb(203, 203, 252);
    border-radius: 30px;
}

.content.active{
    display: block;
} 

.content{
    display: none;
    font-size: large;
} 
