*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
}
h1{
    text-align: center;
    padding: 30px;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    gap:10px;
    border: 2px solid rgb(246, 157, 243);
    background-color: rgb(198, 139, 253);
    border-radius: 8px;
    
}
.generate-bill{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(228, 210, 246);
    font-size: medium;
    cursor: pointer;
}